<li class="items">
	{{burger_name}}

	<button class="devour-burger btn waves-effect" data-id="{{this.id}}" data-newdevoured="{{devour}}">
		{{#if devour}}devour{{else}}Re-order{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>
